;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]
 ;;:plugins [[lein-cljfmt "0.7.0"]]
 :dependencies [[reagent "1.0.0"]
                [rm-hull/big-bang "0.0.1-SNAPSHOT"]]
 :dev-http {8080 "public"}
 :builds {:default {:target :browser
                    :modules {:main {:init-fn reactris.app/init}}}
          :test {:target    :browser-test
                 :compiler-options {:source-map true}
                 :test-dir  "public/js/test"
                 :devtools  {:http-port          8081
                             :http-root          "public/js/test"}}}}
