{:lein         true
 :builds       {:app {:target     :browser
                      :output-dir "resources/public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [test.core]}}
                      :devtools   {:after-load test.core/mount-root}}}
 :dev-http     {3000 {:root    "resources/public"
                      :handler test.handler/app}}}
